.top {
  margin-top: 30px;
  height: 25px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  gap: 10px;
  margin-left: 30px;

}

.box {
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid green;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}